body {
    background-color: rgb(27, 27, 27);
}

.calc {
    width: 50%;
    background: #3f1317;
    color: #fdfdfd;
    font-family: Arial;
    padding-right: 3%;
}

.calc-screen {
    height: 125px;
    position: relative;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.history-operations {
    margin-left: 15%;
    color: grey;
    font-size: xxx-large;
    width: max-content;
}

.select {
    font-size: xx-large;
}
